/* @设置  
	
名称：Codeblock 设置  
id：代码块设置  
设置：  
	
	-
		id：Codeblock 样式设置  
		标题：Codeblock 样式设置  
		描述：您可以在这里为代码变量选择颜色。  
		类型：标题  
		等级：1  
		折叠：是  
	-
		id: 代码背景  
		标题：代码背景颜色  
		描述：代码块的背景  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id: 代码-正常  
		标题：代码文本颜色  
		描述：语法高亮不存在时的代码颜色  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id: 语法高亮  
		标题：语法高亮  
		类型：标题  
		等级：3  
		折叠：错误  
	-
		id: 代码注释  
		标题：“语法：注释”  
		描述：注释的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码功能  
		标题：“语法：函数”  
		描述：函数的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码关键字  
		标题：“语法：关键字”  
		描述：关键字的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码重要  
		标题：“语法：重要”  
		描述：重要文本的语法突出显示  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码操作员  
		标题：“语法：运算符”  
		描述：运算符的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码属性  
		标题：“语法：属性”  
		描述：属性的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码标点符号  
		标题：“语法：标点符号”  
		描述：标点符号的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码字符串  
		标题：“语法：字符串”  
		描述：字符串的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码标签  
		标题：“语法：标签”  
		描述：标签的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	-
		id：代码值  
		标题：“语法：值”  
		描述：值的语法高亮  
		类型：可变主题颜色  
		格式：十六进制  
		默认灯光：'#'  
		默认暗色：'#'  
	
*/  